* {
    box-sizing: border-box;
}
html {
    height: 99%;
}
body {
    height: 99%;
}
header {
    height: 10%;
    /* ログアウト調整 */
    display: flex;
    justify-content: space-between;
}
nav {
    height: 10%;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 10px;
}
/* navの左右*/
.left_nav, .right_nav {
    display: flex;
}
/* nav右側のフォーム */
.right_input {
    height: 30px;
}
main {
    height: 70%;
}
footer {
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.copyright {
    color: #fff;
    background-color: #000;
    width: 500%;
}
.fullheight {
    height: 100%;
    background: #bbddff;
}
header h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: bold;
}
/* indexのボタン配置 */
.btn-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover {
    text-align: center;
}
.cover h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
/* itemsのフォーム部分 */
.login input {
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
}
.item_detail {
    text-align: center;
}
/* 商品詳細ページの商品説明 */
.item_explain{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* 商品詳細ページの商品名、コメント */
.item_name, .item_comment {
    text-align: left;
}
/* 商品詳細ページの商品名 */
.item_name {
    font-size: 35px;
    margin: 15px;
}
/* 商品詳細ページの画像 */
.item_img {
    margin: 0 180px;
}
/* 商品詳細ページの価格 */
.item_price {
    font-size: 20px;
    text-align: right;
    margin: 10px;
}
/* お気に入りページ、検索ページ */
.item_favorite, .item_search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
/* 管理画面フォーム送信後の文字 */
.ans {
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
/* 管理画面の商品詳細内容 */
.item_info {
    font-size: 80%;
    margin-left: 10px;
}
/* 合計金額 */
.total_price {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
/* 管理画面の表示調整*/
/* 画面詳細のボタンのカバー、管理画面の各ページのnav(TOPボタン)カバー、管理画面TOPの配置 */
.items_cover, .buy_btn {
    display: flex;
    justify-content: center;
}
/* カートのアイテム　*/
.cart_item {
    margin: 3px;
}
/* ユーザーTOPページの並べ方 */
.top_items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* 管理画面のinputフォーム */
.admin_form input {
    width: 350px;
    height: 32px;
    margin-bottom: 20px;
}

/* btn(ボタン)一覧 */
/* 最初の画面のボタン */
.start_btn{
    text-align: center;
    width: 300px;
    display: block;
    line-height: 5.4em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 0 50px;
}
/*
.start_btn:hover {
    color:white;
    background-color: black;
}
*/
/* ロゴ列右隅のログアウト(TOP)ボタン */
.head_btn {
    text-align: center;
    width: 120px;
    display: block;
    line-height: 1.5em; /* 高さを中央揃え …難しい */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 15px;
}
/*
.head_btn:hover {
    color:white;
    background-color: black;
}
*/

/* 管理TOPへのボタン*/
.admin_top_btn {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    display: block;
    line-height: 2em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 5px;
}
/*
.admin_top_btn:hover {
    color:white;
    background-color: black;
}
*/

/* 詳細画面のボタン(カート、お気に入りetc) */
.detail_btn {
    text-align: center;
    width: 250px;
    display: block;
    line-height: 2.4em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 5px;
    cursor: pointer;
}
/*
.detail_btn:hover {
    color:white;
    background-color: black;
}
*/

/* 削除ボタン */
.delete_btn {
    text-align: center;
    width: 100px;
    display: block;
    line-height: 1.5em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 0px auto;
    cursor: pointer;
}
/*
.delete_btn:hover {
    color:white;
    background-color: black;
}
*/

/* ナビボタン(TOP画面、お気に入り、検索)*/
.nav_btn {
    text-align: center;
    width: 150px;
    height: 35px;
    display: block;
    line-height: 1.5em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
}
/*
.nav_btn:hover {
    color:white;
    background-color: black;
}
*/

/* 購入ボタン */
.cart_btn {
    text-align: center;
    width: 250px;
    display: block;
    line-height: 2.4em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 0 auto;
}
/*
.cart_btn:hover {
    color:white;
    background-color: black;
}
*/

/* 管理画面TOPページのボタン */
.admin_btn {
    text-align: center;
    width: 250px;
    display: block;
    line-height: 2.4em; /* 高さを中央揃え …難しい*/
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 10px 20px;
}
/*
.admin_btn:hover {
    color:white;
    background-color: black;
}
*/

.btn:hover {
    color:white;
    background-color: black;
}